/* for exercise 3, chapter 6, pg 261*/
body {
	background-image : url(images/background.gif);	
	color : #330000;
	font-family : Verdana, Arial, sans-serif;
	}

h2 {
	text-transform : uppercase;
	background-color : #ffffcc;
	color : #663300;
	font-size : 1.2em;
	border-bottom : 1px solid #000000;
	padding : 5px 0 0 5px;
	margin-right : 20px;
	clear : left;	
	}
	
img {
	border : 0px;
	}
	
#header {
	background : #ccaa66;
	color : #000000;
	text-align : center;
	margin : 0;
	}
	
#nav {
	text-align : center;
	padding-top : 10px;
	float : left;
	width : 100px;
	}
#nav a {
	text-decoration : none;
	padding-bottom : 15px;
	}

#nav a:link {color : #996633; }
#nav a:visited {color : #ccaa66; }
#nav a:hover {color: #330000; }
#nav ul{ list-style-type : none; }

#wrapper {
	background : #ffffcc;
	min-width : 700px;
	box-shadow : 2px 2px 5px;
	width : 80%;
	margin-right : auto;
	margin-left : auto;
	}
	
#content { 
	padding : 10px 20px 30px;
	margin-left : 150px;
	background : #f2eab7;
	color : #000000;
 }

.details {
	padding-left : 20%;
	padding-right : 20%;
	}
	
.floatright {
	float: right; 
	padding-left: 20px;
	}

.floatleft {
	float : left;
	padding : 0px 20px 20px 0px;
	}
	
.clear { clear : left;}

#footer { 
	background : #ccaa66;
	color : #000000;
	font-size : small;
	font-style : italic;
	text-align : center;
	padding : 20px 0 0 20px;
	clear : both;
	}
	
#footer a:link { color : #ffffcc; }
#footer a:visited { color : #f2eab7; }
#footer a:hover { color : #330000;}
/*
other TODO:
 AT #7 ... do we need to move the style in html to css? Added padding but brown shows
 fin
 End : double check requirements and pictures to product 
*/